.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default_link {
  text-decoration: none;
  color: #3f51b5;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.default_link:hover {
  text-decoration: underline;
}

.disabled-form {
  opacity: 0.5;
  color: red;
  margin: 500px;
}

.fade-in-out {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0%, 100% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

.test {
  color: 'blue'
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0ce02;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0ce02;
}